.sidebar {
  width: 240px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  main {
    padding: 1rem !important;
  }
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.2rem;
}

.active {
  background-color: #e9ecef !important;
  border-radius: 8px;
}
.nav-link {
  transition: background-color 0.3s, color 0.3s;
}
.nav-link:hover,
.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.collapsed-sidebar .nav-link {
  justify-content: center;
}

.collapsed-sidebar h4 {
  display: none;
}
